@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

.nav {
  float: right;
  font-family: "Arial";
  text-transform: uppercase;
}

.nav ul {
  padding: 0;
  margin: 0;
}

.nav ul li {
  float: left;
  list-style-type: none;
  border-top: 1px solid #eee;
}

.nav ul li a {
  background-color: black;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.nav ul li a:hover {
  background-color: white;
  color: black;
}

#branding {
  width: 200px;
  height: 50px;
  float: left;
  background: url("http://lorempixel.com/output/city-q-g-640-480-2.jpg")
    no-repeat center center;
  background-size: 200px;
}

#header {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 80px;
  top: 0px;
  left: 0px;
}

#minimenu {
  display: none;
  float: right;
  margin-right: 20px;
  font-size: 36px;
  margin-top: 5px;
  cursor: pointer;
}

.section:nth-child(even) {
  background-color: #dddddd;
}

body {
  /* background-color: light-gray; */
}

.section {
  min-height: 400px;
  padding-top: 100px;
  overflow: hidden;
  /* position: relative; */
  font-family: "Roboto Condensed", sans-serif;
  /* background-color: #dddddd; */
}

.section article {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}

#about {
  background: url("http://lorempixel.com/output/transport-q-c-640-480-9.jpg")
    no-repeat;
  background-size: cover;
}

#projects {
  background: url("http://lorempixel.com/output/people-q-c-640-480-4.jpg")
    no-repeat;
  background-size: cover;
}

@media screen and (max-width: 680px) {
  #minimenu {
    display: block;
  }
  .nav {
    display: none;
    width: 100%;
  }
  .nav ul li {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}
